html{
   font-family: "Montserrat", sans-serif;
   width: 100%;
   height: 100%;
   box-sizing: border-box; 
}

body{
    margin: 0;
}

main{
    display: flex;
}

aside{
    margin: 2rem 5rem 5rem 0;
}

h1{
    width: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 2rem;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    margin: 0;
}

h4{
    font-size: 1.2rem;
    margin: 0;
}

p{
    margin: 0;
}

span{
    font-weight: 700;
}


.container{
    width: 55vw;
    height: auto;
    margin: 2rem 1rem 2rem 7rem;
}


.bBlue{
    color: #fff;
    background: #02A28F;
}

.navHeader{
    padding: 1rem 10rem 1rem 7rem;
}


.gradientArticle{
    width: 55vw;
    height: 60vh;
    z-index: 1;
    position: relative;
    background-image: url(./assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gradientArticle:after{
    border-radius: .5rem;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.container > .textArticle{
    color: #fff;
    position: absolute;
    top: 63%;
    left: 11%;
    z-index: 1;
    transform: translate(-7%, -63%);
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.container > .cardTitle{
    display:flex ;
    justify-content: space-between;
    font-size: 2rem;
    padding:1rem 1rem 1rem 1rem;
    border-radius: .5rem;
    margin: 3rem 0 0 0;
}

.cardTitle button{
    text-decoration: underline;
    padding-top: .4rem;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem 2.5rem;
    width: 55vw;
    height: auto;
    text-align: left;
}
.cards img{
    width: 26vw;
    object-fit: cover;
}

.cardItem{
    margin:1rem 0 0 0;
    padding:0;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px -4px grey;
    width: 26vw;
}
.cardItem p{
    padding: .2rem;
}
.cardItem h3{
    padding: .2rem;
    font-size: 1.5rem;
}

.navSidePosts{
    height: auto;
    width: 30vw;
    position: relative;
}

.navSideTitle{
    font-size: 2rem;
    padding:.5rem;
    border-radius: .5rem;
}
.sidePostsItems h4{
    margin:0 0 0 1rem;
}

.sidePostItem{
    margin: 1rem 1rem 1rem 0;
    display: flex;
}

.navSideCategories{
    height: auto;
    width: 30vw;
    position: relative;
}

.navSideCategories  li{
    color: #616161;
    list-style: none;

}

.navSideCategories ul{
    margin:0;
    padding: 0;
}

@media only screen and (max-width:2298px) {

    .gradientArticle{
        width: 55vw;
        height: 60vh;
        position: relative;
        background-image: url(./assets/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
    }

    .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 80%;
        left: 5%;
    }
    h2{
        font-size: 2.5rem;
        margin: 0;
    }

}

@media only screen and (max-width:767px){
   main{
     display: grid;
     grid-template-columns: 1fr;
   }
   aside{
    margin: 0;
    position: relative;
    top: 1%;
    right: 1%;
    left: 15%;
   }


    .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 80%;
        left: 5%;
    }
}