html{
   font-family: "Montserrat", sans-serif;
   width: 100%;
   height: 100%;
   box-sizing: border-box; 
}

body{
    margin: 0;
}

h1{
    width: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 2rem;
    margin: 0;
}

h3{
    margin: 0;
}

p{
    margin: 0;
}

span{
    font-weight: 700;
}

#container{
    width: 55vw;
    margin: 3rem 5rem 2rem 10rem;
    position: relative;
}


.bBlue{
    color: #fff;
    background: #02A28F;
}

.navHeader{
    padding: 1rem 10rem 1rem 10rem;
}


.gradientArticle{
    width: 55vw;
    height: 60vh;
    position: relative;
    background-image: url(./assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.gradientArticle:after{
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.textArticle{
    color: #fff;
    position: absolute;
    top: 80%;
    left: 7%;
    transform: translate(-7%, -80%);
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

@media only screen and (max-width:2560px) {

    .gradientArticle{
        width: 55vw;
        height: 60vh;
        position: relative;
        background-image: url(./assets/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
    }

    .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(50% - 8vw);
        left: 5%;
    }
    h2{
        font-size: 2.5rem;
        margin: 0;
    }

}