html{
   font-family: "Montserrat", sans-serif;
   width: 100%;
   height: 100%;
   box-sizing: border-box; 
}

body{
    margin: 0;
}

main{
    display: flex;
}

aside{
    margin: 2rem 5rem 5rem 0;
}

h1{
    width: auto;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 2rem;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    margin: 0;
}

h4{
    font-size: 1.2rem;
    margin: 0;
}

p{
    margin: 0;
}

span{
    font-weight: 700;
}

.flexList{
    display: flex;
    text-align: right;
    justify-content: space-between;
}
.bBlue{
    color: #fff;
    background: #02A28F;
    border-radius: .5rem;
}

.pBlue{
    color: #02A28F;
}

.pGrey{
    color: #616161;
}


main > .container{
    width: 55vw;
    height: auto;
    margin: 2rem 1rem 2rem 10rem;
}



.navHeader{
    padding: 1rem 10rem 1rem 7rem;
    border-radius: 0%;
}


.gradientArticle{
    width: 55vw;
    height: 60vh;
    z-index: 1;
    position: relative;
    background-image: url(./assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gradientArticle:after{
    border-radius: 1.5rem;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

main > .container > .textArticle{
    color: #fff;
    position: absolute;
    top: 42%;
    left: 10%;
    z-index: 1;
    transform: translate(-7%, -63%);
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.container > .cardTitle{
    display:flex;
    text-align: right;
    justify-content: space-between;
    font-size: 2rem;
    padding:1rem 1rem 1rem 1rem;
    margin: 3rem 0 0 0;
}

.cardTitle button{
    text-decoration: underline;
    padding-top:.3rem;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem 2.5rem;
    width: 55vw;
    height: auto;
    text-align: left;
}
.cards img{
    width: 26vw;
    object-fit: cover;
}

.cardItem{
    margin:1rem 0 0 0;
    padding:0;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px -4px grey;
    width: 26vw;
}
.cardItem p{
    padding: .5rem;
    font-weight: 400;

}
.cardItem h3{
    font-weight: 700;
    padding: .2rem;
    font-size: 1.5rem;
}

.navSidePosts{
    height: auto;
    width: 32vw;
    position: relative;
}
.navSidePosts h3{
    padding: .7rem 0rem .7rem .7rem;
    border-radius: 1rem;
}

.sidePostsItems h4{
    margin:0 0 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.sidePostItem{
    margin: 1rem 0 1.3rem 0;
    display: flex;
    box-shadow: 0px 2px 10px -4px  #616161;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
.sidePostItem img{
    height: 12vh;
}

.sidePostText{
    text-align: left;
}
.sidePostText p{
    color: #616161;
    margin: .5rem .5rem .5rem 1rem;
}

.navSideCategories{
    height: auto;
    width: 32vw;
    position: relative;
}

.navSideCategories h3{
    padding: .7rem;
    border-radius: 1rem;
}


.navSideCategories  li{
    color: #262626;
    list-style: none;
    padding: 1.5rem 0rem 0 0;
    font-weight:500;

}

.navSideCategories ul{
    margin:0;
    padding: 0;
}

.navSideCategories p{
    text-align: right;
    padding: 2rem 0 0 0;
}

.footerTitle{
    text-align: center;
    padding: 1rem;
    border-radius: 0%;
}

.footerTitle h4{
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:2560px) {
    aside{
        margin: 2.8rem 5rem 5rem 0;
    }

    h1{
        font-size: 4rem;
        margin: 0;
    }
    
    h2{
        font-size: 3rem;
        margin: 0;
    }
    h3{
        font-size: 2rem;
        margin: 0;
    }

    h4{
        font-size: 1.7rem;
        margin: 0;
    }
    p{
        font-size: 1.5rem;
        margin: 0;
    }
    
    .navHeader{
        padding: 1rem 5rem 1rem 15rem;
        border-radius: 0%;
    }

    .gradientArticle{
        width: 50vw;
        height: 41.5vh;
        position: relative;
        background-image: url(./assets/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.5rem;
    }

    .container{
        width: 50vw;
        margin: 3rem 2rem 5rem 15rem;
    }

    .container > .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 43%;
        left:12%;
    }
    
    .container > .cardTitle{
        padding: 1.8rem 0 2rem 2.5rem;
        margin: 2rem 1rem 0 0;
        width: 48.5vw;
    }
    .container > .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem 2.5rem;
        width: 51vw;
        height: auto;
        text-align: left;
    }
    .cards img{
        width: 24vw;
        object-fit: cover;
    }
    
    .cardItem{
        margin:1rem 0 0 0;
        padding:0;
        border-radius: 1rem;
        box-shadow: 0px 2px 10px -4px grey;
        width: 24vw;
    }

    .cardItem h3{
        padding: .2rem;
        font-size: 2rem;
    }

    .cardTitle button{
        text-decoration: underline;
        padding:.1rem 1rem 0 0;
        font-size: 1.8rem;
        border: 0;
        cursor: pointer;
    }
    
    aside > .navSidePosts{
        height: auto;
        width: 25vw;
        position: relative;
    }
    
    .sidePostItem{
        margin: 2rem 0 2rem 0;
        display: flex;
        box-shadow: 0px 2px 10px -4px  #616161;
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    
    .sidePostItem img{
        height: 8vh;
    }

    .navSidePosts h3{
        font-size: 2.2rem;
        padding: 1.5rem 1.5rem 1.5rem 2rem;
    }

    .cardItem p{
        font-size: 1.6rem;
        padding: .5rem;

    
    }
     
    .navSideCategories li{
        color: #262626;
        list-style: none;
        padding: 1.5rem 0rem 0 0;
        font-weight:500;
    
    }

    .navSideCategories h3{
        font-size: 2.2rem;
        padding: 1.5rem 2rem 1.5rem;
    }
    .navSideCategories{
        height: auto;
        width: 25vw;
        position: relative;
    }
    .navSideCategories li{
        font-size: 2rem;
    }

    .navSideCategories p{
        text-align: right;
        font-size: 2rem;
        padding: 2rem 0 0 0;
    }

    .footerTitle h4{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .footerTitle{
        text-align: center;
        padding: 1.5rem;
        border-radius: 0%;
    }
}

@media only screen and (max-width:1440px){
    aside{
        margin: 2.8rem 5rem 5rem 7rem;
    }
    h1{
        font-size: 2rem;
        margin: 0
    }
    h2{
        margin: 0;
        font-size: 1.8rem;
    }
    h3{
        margin: 0;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .flexList{
        height: 4vh;
    }

    .navHeader{
        padding: 1rem 5rem 1rem 6.8rem;
        border-radius: 0%;
    }
    main  > .container{
        width: 45vw;
        margin: 3rem 0rem 5rem 7rem;
    }
    
    .gradientArticle{
        width: 50vw;
        height: 51.5vh;
        position: relative;
        background-image: url(./assets/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .5rem;
    }
   

    main > .container > .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 55%;
        left:10%;
    }
    .container > .cardTitle{
        padding: 1rem;
        margin: 1rem 0 0 0;
        width: 48vw;
    }
    .container > .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem 2.5rem;
        width: 50vw;
        height: auto;
        text-align: left;
    }
    .cards img{
        width: 23.7vw;
        object-fit: cover;
    }
    
    .cardItem{
        margin:.5rem 0 0 0;
        padding:0;
        border-radius: 1rem;
        box-shadow: 0px 2px 10px -4px grey;
        width: 23.7vw;
    }
    .cardItem h3{
        padding: .2rem;
        font-size: 1.4rem;
    }
    .cardItem p{
        font-size: 1rem;
    }

    .cardTitle button{
        text-decoration: underline;
        padding:.1rem 1rem 0 0;
        font-size: 1rem;
        border: 0;
        cursor: pointer;
    }
    aside > .navSidePosts{
        width: 30vw;
    }

    aside > .navSidePosts h3{
        font-size: 1.5rem;
        padding: .8rem;

    }
    .sidePostItem{
        margin: .5rem 0 1rem 0;
        padding: .5rem;
    }

    .sidePostItem img{
        height: 11vh;
    }

    .sidePostText h4{
        font-size: 1rem;
    
    }
    .navSideCategories{
        width: 30vw;
    }

    .navSideCategories h3{
        font-size: 1.5rem;
        padding: .8rem;
    }
    .navSideCategories li{
        font-size: 1rem;
        padding: 0;
        height: 4vh;
    }
    .navSideCategories p{
        font-size: 1rem;
        padding: 0;
    }
    .navSideCategories ul{
        margin-top: .5rem;
    }

    .footerTitle h4{
        font-size: 1rem;
        font-weight: 500;
    }
}
@media only screen and (max-width:1024px){
    aside{
        margin: 3rem 5rem 5rem 6rem;
    }

    .gradientArticle{
        width: 50vw;
        height: 52vh;
        position: relative;
        background-image: url(./assets/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
    }
   

    main > .container > .textArticle{
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 57%;
        left:14%;
    }
    .container > .cardTitle{
        width: 47vw;
    }
    

    .cards img{
        width: 23vw;
        object-fit: cover;
    }
    .cardItem{
        margin:.5rem 0 0 0;
        padding:0;
        border-radius: 1rem;
        box-shadow: 0px 2px 10px -4px grey;
        width: 23vw;
    }

    aside > .navSidePosts h3{
        font-size: 1.2rem;
    }

    .sidePostItem{
        margin-top:.5rem;
    }
    .sidePostItem img{
        height: 10vh;
    }
    .navSideCategories{
        margin-top: 0;
    }
    .navSideCategories h3{
        font-size: 1.2rem;
    }
}


@media only screen and (max-width:768px){
    main{
        margin: 1rem;
        width: 95vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    aside{
        margin: 1rem;
    }
    main > .container{
        margin: 1rem 1rem 1rem 1rem;
        width: 95vw;
    }
    .bBlue{
        width: 92.2vw;
    }
    .flexList{
        margin-top: 1rem;
    }

    .gradientArticle{
        width: 92vw;
        height: 90vh;
   }

   .navHeader{
        padding: 1.5rem 5rem 1.5rem 1rem;
        border-radius: 0%;
        text-align: center;
   }   


    main > .container > .textArticle{
        width: 70vw;
        color:#fff;
        position: absolute;
        left: 10%;
        top: 90%;
  }
  .container > .cardTitle{
    width:88vw;
    padding: 1rem;
    justify-content: space-between;
}
  .cardTitle h3{
    text-align: left;
    width: 90vw;
  }
  .cardTitle button{
    text-align: right;
  }
  .container > .cards{
    width: 92vw;
    gap: .5rem;
  }
  .cards img{
    width: 45.5vw;
    object-fit: cover;
}
.cardItem{
  margin:.5rem 0 0 0;
  padding:0;
  border-radius: 1rem;
  box-shadow: 0px 2px 10px -4px grey;
  width: 45.5vw;
}
aside > .navSidePosts{
    width: 92vw;
}

 main > aside > .navSidePosts h3{
    width: 90vw;
    font-size: 1.5rem;
    padding: 1rem;
}

.sidePostsItems img{
    height: 20vh;
}
.sidePostsItems h4{
    font-size: 1.5rem;
}
.navSideCategories{
    width: 92vw;
    height: 40vh;
}

.navSideCategories h3{
    font-size: 1.5rem;
}
.navSideCategories p{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.navSideCategories ul{
    margin-top: 1rem;
}

.navSideCategories li{
    font-size: 1.5rem;
    margin-top: 1rem;
}
}


@media only screen and (max-width:767px){
   
   
    main{
      width: 95vw;
      display: grid;
      grid-template-columns: 1fr;
   }
   aside{
      width: 55vw;
      margin: 1rem;
      position: relative;
      top: 1%;
      right: 1%;
      left: 0;
   }
    h2{
      font-size: 2.2rem;
    }
   main > .container{
        margin: 1rem;
        width: 55vw;
   }
   .gradientArticle{
        width: 92vw;
        height: 90vh;
   }
  main > .container > .textArticle{
    width: 40vw;
    color:#fff;
    position: absolute;
    left: 10%;
    top: 84%;
}
   .textArticle p{
    font-size: 1.2rem;
   }

   .navHeader{
        padding: 1.5rem 5rem 1.5rem 5rem;
        border-radius: 0%;
        text-align: center;
   }   


   .container > .textArticle{
        width: 50vw;
        color:#fff;
        position: absolute;
        bottom: calc(100% - 1vw);
        top: 80%;
        left: 5%;
  }
  .container > .cards{
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards img{
    width: 92vw;
  }
  .cardItem{
    width: 92vw;
  }
  .cardItem h3{
    font-size: 2rem;
  }
  .cardItem p{
    font-size: 2rem;
  }
  .navSidePosts h3{
    font-size: 3.5rem;
    text-align: center;
  }
  .navSideCategories h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }


}
